* {
  margin: 0;
  padding: 0;
  min-width: 0px;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400 !important;
  font-style: normal;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  color: white;
}

.main-container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 3fr 7fr;
}

.main-container div {
  border: 4px solid white;
  background: transparent;
  margin: 10px;
}

#title {
  grid-area: a;
  border: none;
  font-weight: 400;
  height: max-content;
  margin: 0;
  font-size: 30px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

#gametitle {
  margin-left: 10px;
}

#game {
  visibility: hidden;
}

#location {
  position: absolute;
  right: 10px;
  bottom: 0;
}

#player-stats {
  grid-area: b;
  margin-bottom: 0;
  margin-top: 0;
}

#item-equip {
  grid-area: c;
  margin-bottom: 0;
}

.main-container #top {
  margin-top: 10px;
  border: none;
  display: grid;
  grid-template-areas:
    "a a a a a a c c c c"
    "b b b b b b c c c c"
    "b b b b b b c c c c"
    "b b b b b b c c c c"
    "b b b b b b c c c c"
    "b b b b b b c c c c"
    "b b b b b b c c c c"
    "b b b b b b c c c c"
    "b b b b b b c c c c"
    "b b b b b b c c c c"
    "b b b b b b c c c c";
}

#main-frame {
  grid-area: main;
  position: relative;
  cursor: crosshair;
}

#main-frame canvas {
  position: absolute;
}

#fps-counter {
  background: rgba(128, 128, 128, 0.527);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  user-select: none;
  padding: 5px;
}


.main-container #bottom {
  margin-top: 0;
  margin-bottom: 10px;
  border: none;
  display: grid;
  grid-template-areas:
    "main";
}

#item-equip .item {
}

.firsti {
  grid-area: t;
}

.secondi {
  grid-area: u;
}

.thirdi {
  grid-area: v;
}

#item-equip h1 {
  text-align: center;
  grid-area: i;
  height: max-content;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

#item-equip {
  display: grid;
  grid-template-areas: 
  "i i i"
  "t u v"
  "t u v"
  "t u v";
}



#stats {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 2em;
  margin: 20px;
  margin-bottom: 30px;
  align-items: center;
}

#name {
  margin: 20px;
  margin-top: 10px;
  position: relative;
}

#level {
  position: absolute;
  right: 0;
  bottom: 0;
}

.stat {
  width: 100%;
  height: 1.5rem;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  border-width: 0px !important;

  .stat-label {
    margin-top: auto;
    margin-bottom: auto;
    min-width: 15ch;
  }

  .stat-bar {
    width: 100%;
    min-height: 100%;
    display: flex;
    padding: 0;
    margin: 0;

    .stat-bar-inner {
      transition-property: width;
      transition-duration: 1s;
      background-color: white;
      border: none;
      height: 100%;
      display: flex;
      padding: 0;
      margin: 0;
    }
  }
}

#stats progress {
  border-radius: 0;
  border: 2px solid white;
  width: 90%;
  background: black;
}

#stats progress::-webkit-progress-bar {
  background: black;
}

#hp::-webkit-progress-value {
  background: red;
}

#mana::-webkit-progress-value {
  background: rgb(76, 204, 255);
}

#stamina::-webkit-progress-value {
  background: rgb(187, 153, 0);
}

#stats p {
  font-size: 1.3em;
}


audio {
  display: none;
}

<<<<<<< HEAD
#loading {
  overflow: hidden!important;
  height: 100%;
  position: relative;
  width: 100%;
}

.loading {
  overflow: hidden;
}

#loading h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
=======
#overlay-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: hsla(0deg, 0%, 0%, 50%);
  backdrop-filter: blur(1rem);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  margin: 0px;
  padding: 0px;
  border: 0px;
  transition-property: opacity;
  transition-duration: 1s;
  text-align: center;
  align-content: center;
  
  * {
    margin: auto;
  }
}

#menu {
  div {
    height: 100%;
    
    display: flex;
    flex-direction: column;

    input {
      margin: 0 auto 0 auto;
      width: 60%;
      font-size: 2rem;
    }

    button {
      margin: 0 auto 0 auto;
      width: 60%;
    }
  }
>>>>>>> 77cd7eb39494af02ac574747f5f5f0fd478d091b
}